.t-dark-element {
  background-color: #ccc !important;
  padding: 10px;
  border-radius: 10;
  margin-top: 40;
}
ul {
  list-style-type: none;
  margin: 20;
  border-right: #fff;
}
.menu > li {
  color: #fff;
  padding-top: 5px;
}

.container 
{
  // background-color: #fff;
}
